<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>New Game</title>
</head>

<body>
  <h1>Archiving a new Game!</h1>
  <form action="/games" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <div><p></p></div>
    <label for="fileSize">Size (in Mb):</label>
    <input type="number" id="fileSize" name="fileSize">
    <div><p></p></div>
    <label for="released">Released?</label>
    <input type="checkbox" name="released" id="released" />
    <div><p></p></div>
    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre">
    <div><p></p></div>
    <label for="image">Square Image URL (optional):</label>
    <input type="text" name="image" id="image">
    <div><p></p></div>
    <button type="submit">Record Game</button>
    <div><p></p></div>
  </form>
  <a href="/games/">Back to Games</a>
</body>

</html>